<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link href="./css/main-css.css" rel="stylesheet">
    <title>netty-弹幕</title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <style>
        #videoContainer {
            width: 800px;
            height: 500px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;
        }
    </style>
<body>

<div>
    <h1 style="padding-top: 10px; margin: 0 auto;color: red;text-align: center;">仅供学习使用，严禁非法获利</h1>
</div>

<div id="videoContainer">
</div>

<div style="margin-top: 10px;">
    <h1 style="text-align: center; color: red">扫描下方二维码或者微信搜索“小猴子的技术笔记”后台回复“好友”添加我微信获取源码</h1>
    <h1 style="text-align: center; color: red">更有海量学习资源等你领取哦！</h1>
</div>

<div  style="width: 800px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;">
    <img style="height: 228px;" src="/83c8c127f8973f706d0068d774d7dd17.png" alt="在这里插入图片描述">
</div>
</body>
<script type="text/javascript" src="./js/video.js"></script>
<script type="text/javascript" src="./js/bulletScreen.js"></script>
<script type="text/javascript" src="./js/websocket.js"></script>
</html>
